<section class="installation">

  <h1>Installation</h1>

  <section class="steps card">
    <div class="step">
      <h2>1. Get Steam</h2>
      <p>Download Steam at <a href="http://store.steampowered.com/about/">http://store.steampowered.com/about/</a>.</p>
    </div>

    <div class="step">
      <h2>2. Get Source SDK Base 2007</h2>
      <p>
        Open <a href="steam://run/218">steam://run/218</a> in your browser to start the Source SDK download.<br>
        <span class="alternative">Alternatively go to your Steam Library and click the drop down menu next to the search box under the word LIBRARY. It probably says ALL GAMES for you. Select Tools and look for Source SDK Base 2007 in the list. Right-click and select Install Game....</span>
      </p>
    </div>

    <div class="step">
      <h2>3. Get IOSoccer</h2>
      <p>
        Download the game <a href="https://drive.google.com/file/d/0B5gkxVYa-FHOTDZJR05RYWNQZEE/view?usp=sharing">here</a> and extract the game files to your sourcemods folder (default path is C:\Program&nbsp;Files&nbsp;(x86)\Steam\steamapps\sourcemods).
      </p>
    </div>

    <div class="step">
      <h2>4. Restart Steam</h2>
      <p>
        The game will show up in your library after Steam has been restarted.
      </p>    
    </div>
  </section>

  <h1>Troubleshooting</h1>

  <section class="troubleshooting card">
    <div class="issue">
      <h2>&bull; The game doesn't start</h2>
      <p>
        Run Source SDK Base 2007 once.<br>
        Let it load until you see the main menu, then click Quit. Some people need to do this to be able to run IOSoccer, so just run it to be on the safe side.
      </p>
    </div>
  </section>

</section>