<section class="info card">
  <span class="tag">Info</span>
  <p>
    The MMR algorithm is still in active development.<br>
    Changes will be retroactively applied to all played matches.<br>
    Players must have at least {{minMatchCount}} matches to appear on the leaderboards.
  </p>
</section>

<section class="player-groupings">

  <div *ngFor="let playerGrouping of playerGroupings; let i = index" class="player-grouping {{playerGrouping.mmrBracket.name}}">

    <div class="label">
      <i *ngFor="let stars of getStars(i)" class="fa fa-star"></i>
      <span>{{playerGrouping.mmrBracket.label}}</span>
      <i *ngFor="let stars of getStars(i)" class="fa fa-star"></i>
    </div>

    <div class="player header">
      <span class="rank">Rank</span>
      <span class="club">Club</span>
      <span class="name">Name</span>
      <span class="mmr">MMR</span>
      <span class="matches">Matches</span>
      <span class="wins">Wins</span>
      <span class="draws">Draws</span>
      <span class="losses">Losses</span>
      <span class="goals">Ø Team<br>Goals</span>
      <span class="conceded">Ø Team Conceded</span>
      <span class="clean-sheets">Ø Team<br>Clean Sheets</span>
      <span class="solo-keeper-matches">Solo GK Matches</span>
    </div>

    <div *ngFor="let player of playerGrouping.players; let rank = index" class="player">
      <span class="rank">{{playerGrouping.startIndex + rank + 1}}.</span>
      <span class="club"><img *ngIf="player.club" src="{{player.club.crest}}"></span>
      <span class="name">{{player.name}}</span>
      <span class="mmr">{{player.mmrStats.mmr}}</span>
      <span class="matches">{{player.mmrStats.matches}}</span>
      <span class="wins">{{player.mmrStats.wins}}</span>
      <span class="draws">{{player.mmrStats.draws}}</span>
      <span class="losses">{{player.mmrStats.losses}}</span>
      <span class="goals">{{getAvgGoals(player)}}</span>
      <span class="conceded">{{getAvgConceded(player)}}</span>
      <span class="clean-sheets">{{getAvgCleanSheets(player)}}</span>
      <span class="solo-keeper-matches">{{player.mmrStats.soloKeeperMatches}}</span>
    </div>

    <div class="mmr-range">
      <span>{{playerGrouping.mmrBracket.prevThreshold}}</span>
      <span>-</span>
      <span>{{playerGrouping.mmrBracket.threshold}}</span>
    </div>

  </div>

</section>
