:host {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    width: 100%;
    text-align: center;
}

.player-groupings {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.player-grouping {
    border: 5px solid transparent;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.25);

    &:not(:first-child) {
        margin-top: 30px;
    }

    > .label {
        text-transform: uppercase;
        text-align: center;
        color: white;
        font-weight: bold;
        padding-bottom: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.25em;

        i {
            margin: 0 3px;
        }

        span {
            flex: 1;
            letter-spacing: 3px;
        }
    }

    > .mmr-range {
        text-align: center;
        color: white;
        padding-top: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        i {
            margin: 0 3px;
        }

        span {
            letter-spacing: 3px;
            margin: 0 5px;
        }

        span:first-child {
            flex: 1;
            text-align: right;
        }

        span:last-child {
            flex: 1;
            text-align: left;
        }
    }

    &.legendary {
        background: #E8EAF6;
        border-color: #1A237E;

        > .label, > .mmr-range {
            background: #1A237E;
        }
        
        .header {
            background: #9FA8DA;
        }
    }

    &.world-class {
        background: #E0F7FA;
        border-color: #006064;

        > .label, > .mmr-range {
            background: #006064;
        }
        
        .header {
            background: #80DEEA;
        }
    }

    &.professional {
        background: #F1F8E9;
        border-color: #33691E;

        > .label, > .mmr-range {
            background: #33691E;
        }
        
        .header {
            background: #C5E1A5;
        }
    }

    &.semi-pro {
        background: #FFF8E1;
        border-color: #FF6F00;

        > .label, > .mmr-range {
            background: #FF6F00;
        }

        .header {
            background: #FFE082;
        }
    }

    &.amateur {
        background: #EFEBE9;
        border-color: #3E2723;

        > .label, > .mmr-range {
            background: #3E2723;
        }

        .header {
            background: #BCAAA4;
        }
    }

    .player {
        display: flex;
        align-items: center;
        padding: 5px 10px;
        border: 2px solid transparent;

        &.header {
            align-items: flex-end;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 0.8em;
            line-height: 1.0em;
            margin-bottom: 10px;
            padding: 10px;
        }

        &:not(.header) {

            &:hover {
                background: #ECEFF1;
            }
        }

        .rank {
            width: 60px;
            text-align: center;
            color: #546E7A;
        }

        .avatar {
            width: 25px;
            color: #546E7A;
        }

        .name {
            width: 200px;
            color: black;
        }

        .steam-id {
            width: 200px;
            color: #546E7A;
        }

        .mmr {
            width: 100px;
            text-align: center;
            color: black;
        }

        .matches, .goals, .clean-sheets {
            width: 75px;
            text-align: center;
            color: #546E7A;
        }
    }
}