<h1>Community</h1>

<div class="platforms">
  <a href="https://discord.gg/0k0BtO5SnHYSsjLG">
    <h2>Chat</h2>
    <div>
      <img src="assets/images/discord.svg">
    </div>
  </a>

  <a href="https://reddit.com/r/iosoccer">
    <h2>Reddit</h2>
    <div>
      <img src="assets/images/reddit.png">
    </div>
  </a>

  <a href="https://steamcommunity.com/groups/IOSoccer/discussions">
    <h2>Steam</h2>
    <div>
      <img src="assets/images/steam.png">
    </div>
  </a>

  <a href="https://forums.iosoccer.com">
    <h2>Forums</h2>
    <div>
      <img src="assets/images/discourse.png">
    </div>
  </a>
</div>