:host {
    display: flex;
    flex-direction: column;
    align-items: center;
}

ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

i {
    color: #546E7A;
}

.pages {

    a {
        color: black;
        text-decoration: none;
        margin: 0 5px;
        font-weight: bold;
        padding: 0 5px;

        &.active {
            border-top: 2px solid black;
            border-bottom: 2px solid black;
            background: #ECEFF1
        }

        &.hidden {
            visibility: hidden;
        }
    }
}

.matches {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 15px 0;
}

.match {
    margin: 10px;
    padding: 15px;
    background: lighten(#ECEFF1, 5%);
    display: flex;
    flex-direction: column;
    width: 500px;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.25);

    .date {
        display: flex;
        justify-content: space-between;

        span {
            margin: 0 5px;
        }

        .date-icon {
            margin-right: 5px;
        }

        .time-icon {
            margin-right: 5px;
        }
    }

    .score {
        font-size: 1.5em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #263238;
        color: white;
        border-radius: 5px;
        margin: 10px 0;
        padding: 0 5px;

        .mmr {
            font-size: 0.7em;
            color: white;
            font-size: 0.7em;

            .average-mmr {
                padding: 1px 3px;
                color: #CFD8DC;
            }
        }

        .team-name {
            margin: 0 15px;
            flex: 1;
            text-align: center;
            font-size: 0.85em;
        }

        .goals {
            text-align: center;
            padding: 5px;
            margin: 0 0 -20px 0;
            background: #263238;
            border-radius: 20px;
            font-weight: bold;
            font-size: 0.9em;

            .separator {
                margin: 0 10px;
            }

            .total {
            }

            .first-half {
                font-size: 0.5em;
                height: 15px;
                margin-top: 5px;
                color: #CFD8DC;
            }
        }
    }

    .teams {
        display: flex;
        justify-content: space-between;

        .team {
            display: flex;
            flex-direction: column;

            &:first-child {
                align-items: flex-start;
            }

            &:last-child {
                align-items: flex-end;
                text-align: right;

                .player {
                    flex-direction: row-reverse;
                }
            }
        }
    }

    .mmr-change {
        display: inline-block;
        color: white;
        background: #C62828;
        border-radius: 3px;
        width: 40px;
        text-align: center;
        font-weight: bold;
        font-style: italic;

        &.positive {
            background: #2E7D32;

            &::before {
                content: '+'
            }
        }

        &.zero {
            background: #FF8F00;
        
            &::before {
                content: '±'
            } 
        }
    }

    .player {
        display: flex;
        align-items: center;

        .solo-mmr {
            background: #ECEFF1;
            color: #546E7A;
            border-radius: 3px;
            padding: 2px 5px 2px 2px;
            width: 40px;
            text-align: right;
            font-weight: bold;
            font-size: 0.9em;
        }

        .position {
            width: 20px;
            font-weight: bold;
            font-size: 0.75em;
            text-align: center;
            margin: 0 5px;
        }

        .name {
            margin: 0 5px;
        }

        .goals {

            i {
                margin: 0 1px;
            }
        }
        
        &:not(:first-child) {
            margin-top: 5px;
        }
    }

    .solo-keeper {
        display: flex;
        justify-content: center;

        .player {
            
            .mmr-change {
                font-size: 0.9em;
                padding: 2px 0;
                width: 35px;
            }
        }
    }
}