<div class="pages">
  <a [ngClass]="{hidden: currentPage === 1}" routerLink="/matches" [queryParams]="{page: currentPage - 1}" class="fa fa-chevron-left"></a>
  <a *ngFor="let page of pages" routerLink="/matches" [queryParams]="{page: page}" [ngClass]="{active: page === currentPage}">{{page}}</a>
  <a [ngClass]="{hidden: currentPage === pages.length}" routerLink="/matches" [queryParams]="{page: currentPage + 1}" class="fa fa-chevron-right"></a>
</div>

<ol class="matches">
  <li *ngFor="let match of matches; let i = index" class="match">

    <div class="date">
      <span><i class="date-icon fa fa-calendar-o"></i>{{match.startTime | date:'y/MM/dd'}}</span>
      <span>#{{matchCount - (currentPage - 1) * matchesPerPage - i}}</span>
      <span><i class="time-icon fa fa-clock-o"></i>{{match.startTime | date:'HH:mm'}} - {{match.endTime | date:'HH:mm'}}</span>
    </div>

    <div class="score">
      <span class="mmr">
        <span class="average-mmr">{{match.homeTeam.avgMmr}}</span>
        <span class="mmr-change" [ngClass]="{positive: match.homeTeam.mmrChange > 0, zero: match.homeTeam.mmrChange == 0}">{{match.homeTeam.mmrChange}}</span>
      </span>
      <span class="team-name">{{match.homeTeam.name}}</span>
      <div class="goals">
        <div class="total">
          <span class="name">{{match.homeTeam.goals}}</span>
          <span class="separator">-</span>
          <span class="name">{{match.awayTeam.goals}}</span>
        </div>
        <div class="first-half">
          <span class="name">{{match.homeTeam.firstHalfGoals}}</span>
          <span class="separator">-</span>
          <span class="name">{{match.awayTeam.firstHalfGoals}}</span>       
        </div>
      </div>
      <span class="team-name">{{match.awayTeam.name}}</span>
      <span class="mmr">
        <span class="mmr-change" [ngClass]="{positive: match.awayTeam.mmrChange > 0, zero: match.awayTeam.mmrChange == 0}">{{match.awayTeam.mmrChange}}</span>
        <span class="average-mmr">{{match.awayTeam.avgMmr}}</span>
      </span>
    </div>

    <div class="teams">
      <ol *ngFor="let team of [match.homeTeam, match.awayTeam]" class="team">
        <li *ngFor="let playerMatchStats of team.playerMatchStats" class="player">
          <span class="position">{{playerMatchStats.position}}</span>
          <span class="solo-mmr">{{playerMatchStats.mmr}}</span>
          <span class="name">{{playerMatchStats.player.name}}</span>
          <span class="goals" *ngIf="playerMatchStats.goals"><i *ngFor="let goal of getPlayerGoals(playerMatchStats)" class="fa fa-soccer-ball-o"></i></span>
        </li>
      </ol>
    </div>

    <div class="solo-keeper" *ngIf="match.soloKeeper">
      <div class="player">
        <span class="position">{{match.soloKeeper.position}}</span>
        <span class="solo-mmr">{{match.soloKeeper.mmr}}</span>
        <span class="name">{{match.soloKeeper.player.name}}</span>
        <span class="mmr-change" [ngClass]="{positive: match.soloKeeper.mmrChange > 0, zero: match.soloKeeper.mmrChange == 0}">{{match.soloKeeper.mmrChange}}</span>
      </div>
    </div>

  </li>
</ol>

<div class="pages">
  <a [ngClass]="{hidden: currentPage === 1}" routerLink="/matches" [queryParams]="{page: currentPage - 1}" class="fa fa-chevron-left"></a>
  <a *ngFor="let page of pages" routerLink="/matches" [queryParams]="{page: page}" [ngClass]="{active: page === currentPage}">{{page}}</a>
  <a [ngClass]="{hidden: currentPage === pages.length}" routerLink="/matches" [queryParams]="{page: currentPage + 1}" class="fa fa-chevron-right"></a>
</div>