:host {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: #124364;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.25);
    margin-bottom: 30px;
    padding: 10px;
    
    .logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 150px;
        margin-right: 25px;

        .ball {
            height: 50px;
        }

        .text {
            height: 15px;
            margin-top: 7px;
        }
    }

    .navigation {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5em;
        margin-right: 175px;

        a {
            color: white;
            text-decoration: none;
            margin: 0 30px;
            border: 2px solid transparent;

            &.active {
                border-bottom-color: white;
            }
        }
    }
}