<div class="logo">
    <img class="ball" src="assets/images/ball.png">
    <img class="text" src="assets/images/iosoccer.png">
</div>
<div class="navigation">
    <a routerLink="/blog" [routerLinkActive]="['active']">Blog</a>
    <a routerLink="/leaderboards" [routerLinkActive]="['active']">Leaderboards</a>
    <a routerLink="/matches" [routerLinkActive]="['active']">Matches</a>
    <a routerLink="/clubs" [routerLinkActive]="['active']">Clubs</a>
    <a routerLink="/community" [routerLinkActive]="['active']">Community</a>
</div>